.kanban-title-board{
  cursor: pointer !important;
}
.kanban-item {
  cursor: pointer !important;
}
.warning-opacity-50 {
  background-color: rgba(255, 204, 0, 0.3) !important;
}
.bg-success-50 {
  background-color: rgba(0, 153, 0, 0.3) !important;
}
.warning-opacity-50:hover {
  background-color: rgba(204, 153, 0, 0.3) !important;
}
.bg-success-50:hover {
  background-color: rgba(0, 102, 0, 0.3) !important;
}
th {
  cursor: pointer !important;
}
